body {
    background: peachpuff;
    font-family: 'Courier New', Courier, monospace;
    width: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
}

li {
    margin: 18px;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background-color: brown;
    color: wheat;
    margin: auto;
    margin-bottom: 34px;
    padding: 14px;
    width: 1500px;
    box-sizing: border-box;
    text-align: center;
}

.subheader {
    color: wheat;
    background-color: chocolate;
    padding: 12px;
}

.content {
    margin: auto;
    width: 1500px;
}